*{
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: linear-gradient(to left, #0050a5, #fffdfa);
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo-png{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin: 8px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    color: #b4c1d3;
}

.hero{
    /* background: url(Team-Leos.jpg); */
    /* object-fit: cover; */
    height: 400px;
    /* background-size: cover;
    background-position: center; */
    background: linear-gradient(to right, #0050a5, #fffdfa);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 10px;
}

.hero img{
    mix-blend-mode: multiply;
    width: 50%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 70px 0 0 70px;
    animation: fadeEffect 4s ease-in-out forwards;
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

.head1 {
    animation: fadeEffect 1.5s ease-in-out forwards;
}

.head2 {
    animation: fadeEffect 2.5s ease-in-out forwards;
}

.head3 {
    animation: fadeEffect 3.5s ease-in-out forwards;
}

.gradient-text {
    background: linear-gradient(to right, #f9853b, #c69c6c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us{
    height: 400px;
    background: linear-gradient(to bottom, #0050a5, #fffdfa);
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 0;
}

.about-us img{
    mix-blend-mode: multiply;
    width: 50%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 0 70px 70px 0;
    animation: fadeEffect 4s ease-in-out forwards;
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

.about-us div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-text {
    animation: fadeEffect 1.5s ease-in-out forwards;
}

.about-us ul{
    list-style-type: square;
    padding-left: 20px;
}

.scholarships{
    height: 400px;
    background: linear-gradient(to top, #0050a5, #fffdfa);
    padding: 10px;
}

.scholarships-text {
    animation: fadeEffect 1.5s ease-in-out forwards;
}

.contact{
    height: 630px;
    background: linear-gradient(to right, #0050a5, #fffdfa);
    padding: 10px;
    text-align: center;
    padding: 50px 10;
}

.contact label{
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.contact div{
    display: block;
    justify-content: center;
    margin-top: 20px;
}

.contact input,
.contact textarea{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact a {
    text-decoration: none;
    margin: 0 10px;
}

.contact img{
    width: 20px;
    height: 20px;
}

span{
    font-weight: 600;
    color: black;
}

button{
    background: #0050a5;
    color: #b4c1d3;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
}
.contact-form{
    display: flex;
}
