*{
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: linear-gradient(to left, #0050a5, #fffdfa);
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo-png{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin: 8px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    color: #b4c1d3;
}

.hero{
    /* background: url(Team-Leos.jpg); */
    /* object-fit: cover; */
    height: 400px;
    /* background-size: cover;
    background-position: center; */
    background: linear-gradient(to right, #0050a5, #fffdfa);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero img{
    mix-blend-mode: multiply;
    width: 50%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 70px 0 0 70px;
    animation: fadeEffect 4s ease-in-out forwards;
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

.head1 {
    animation: fadeEffect 1.5s ease-in-out forwards;
}

.head2 {
    animation: fadeEffect 2.5s ease-in-out forwards;
}

.head3 {
    animation: fadeEffect 3.5s ease-in-out forwards;
}

.gradient-text {
    background: linear-gradient(to right, #f9853b, #c69c6c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us{
    height: 400px;
    background: linear-gradient(to bottom, #0050a5, #fffdfa);
}

.about-us img{
    mix-blend-mode: multiply;
    width: 50%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 0 70px 70px 0;
    animation: fadeEffect 4s ease-in-out forwards;
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

.scholarships{
    height: 400px;
    background: linear-gradient(to top, #0050a5, #fffdfa);
}

.contact{
    height: 400px;
    background: linear-gradient(to right, #0050a5, #fffdfa);
}

